{% extends 'phospr.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Live long and Phospr</h1>
            <p>A little gift to help you on your way</p>
        </div><!-- .container -->
    </div><!-- .jumbotron -->
{% endblock %}
